<!-- 404 Error Template -->
<% layout ("layouts/boilerplate") %>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Error!</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi, esse!</p>
                <hr>
                <p class="mb-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore, dolorem.</p>
            </div>
        </div>
    </div>